@CHARSET "ISO-8859-1";

.btn-action {
	background-color: #fd6600 !important;
	border-color: #fd6600 !important;
}

.blue-outline {
	border-color: #0078ff;
	margin: 0 auto; /* Added */
	float: none; /* Added */
	margin-bottom: 10px; /* Added */
}

.pad-row {
	padding-top: 50px; /* Whatever the height of your navbar is; the
                             default is 50px */
}

.row>h1 {
	text-align: center;
}

.batch {
	padding-top: 100px;
}

.noresize {
  resize: none; 
}
