@CHARSET "ISO-8859-1";

.btn-action {
	background-color: #fd6600 !important;
	border-color: #fd6600 !important;
}

.blue-outline {
	border-color: #0078ff;
	margin: 0 auto;
	float: none;
	margin-bottom: 10px;
}

.pad-row {
	padding-top: 40px;
}

.row>h1 {
	text-align: center;
}

.batch {
	padding-top: 100px;
}

.noresize {
  resize: none; 
}

.navbar-texpad {
	padding-top: 15px;
}