<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.1"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
	<display-name>PortalKredit</display-name>

	<servlet>
		<servlet-name>Demo</servlet-name>
		<servlet-class>Demo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Demo</servlet-name>
		<url-pattern>/demo</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CreateClientServlet</servlet-name>
		<servlet-class>CreateClientServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateClientServlet</servlet-name>
		<url-pattern>/admin/CreateClientServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CreateBankerServlet</servlet-name>
		<servlet-class>CreateBankerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateBankerServlet</servlet-name>
		<url-pattern>/admin/CreateBankerServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LogOutServlet</servlet-name>
		<servlet-class>LogOutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogOutServlet</servlet-name>
		<url-pattern>/admin/LogOutServlet</url-pattern>
		<url-pattern>/client/LogOutServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DeleteAdminServlet</servlet-name>
		<servlet-class>DeleteAdminServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteAdminServlet</servlet-name>
		<url-pattern>/admin/AdminDeleteAdmin</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>DeleteBankerServlet</servlet-name>
		<servlet-class>DeleteBankerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteBankerServlet</servlet-name>
		<url-pattern>/admin/AdminDeleteBanker</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>DeleteClientServlet</servlet-name>
		<servlet-class>DeleteClientServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteClientServlet</servlet-name>
		<url-pattern>/admin/AdminDeleteClient</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CreateAdminServlet</servlet-name>
		<servlet-class>CreateAdminServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateAdminServlet</servlet-name>
		<url-pattern>/admin/CreateAdminServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	<servlet>
		<servlet-name>AccountsServlet</servlet-name>
		<servlet-class>AccountsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AccountsServlet</servlet-name>
		<url-pattern>/Client/AccountsServlet</url-pattern>
	</servlet-mapping>
</web-app>