<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.1"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
	<display-name>PortalKredit</display-name>

	<servlet>
		<servlet-name>Demo</servlet-name>
		<servlet-class>Demo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Demo</servlet-name>
		<url-pattern>/demo</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CreateClientServlet</servlet-name>
		<servlet-class>CreateClientServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateClientServlet</servlet-name>
		<url-pattern>/admin/AdminCreateClient</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CreateBankerServlet</servlet-name>
		<servlet-class>CreateBankerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateBankerServlet</servlet-name>
		<url-pattern>/admin/AdminCreateBanker</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LogOutServlet</servlet-name>
		<servlet-class>LogOutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogOutServlet</servlet-name>
		<url-pattern>/admin/LogOutServlet</url-pattern>
		<url-pattern>/client/LogOutServlet</url-pattern>
		<url-pattern>/banker/LogOutServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DeleteAdminServlet</servlet-name>
		<servlet-class>DeleteAdminServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteAdminServlet</servlet-name>
		<url-pattern>/admin/AdminDeleteAdmin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteBankerServlet</servlet-name>
		<servlet-class>DeleteBankerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteBankerServlet</servlet-name>
		<url-pattern>/admin/AdminDeleteBanker</url-pattern>
		<url-pattern>/admin/DeleteBankerServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteClientServlet</servlet-name>
		<servlet-class>DeleteClientServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteClientServlet</servlet-name>
		<url-pattern>/admin/AdminDeleteClient</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CreateAdminServlet</servlet-name>
		<servlet-class>CreateAdminServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateAdminServlet</servlet-name>
		<url-pattern>/admin/AdminCreateAdmin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminFrontpageServlet</servlet-name>
		<servlet-class>AdminFrontpageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminFrontpageServlet</servlet-name>
		<url-pattern>/admin/AdminFrontpage</url-pattern>
		<url-pattern>/admin/AdminControl</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
		<url-pattern>/index</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>BankerCreateClientServlet</servlet-name>
		<servlet-class>BankerCreateClientServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BankerCreateClientServlet</servlet-name>
		<url-pattern>/banker/BankerCreateClientServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>BankerViewClientServlet</servlet-name>
		<servlet-class>BankerViewClientServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BankerViewClientServlet</servlet-name>
		<url-pattern>/banker/BankerViewClientServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>BankerCreateAccountServlet</servlet-name>
		<servlet-class>BankerCreateAccountServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BankerCreateAccountServlet</servlet-name>
		<url-pattern>/banker/BankerCreateAccountServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>BankerViewSingleClientServlet</servlet-name>
		<servlet-class>BankerViewSingleClientServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BankerViewSingleClientServlet</servlet-name>
		<url-pattern>/banker/BankerViewSingleClientServlet</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<servlet-name>BankerEditAccountServlet</servlet-name>
		<servlet-class>BankerEditAccountServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BankerEditAccountServlet</servlet-name>
		<url-pattern>/Client/BankerEditAccountServlet</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>AccountsServlet</servlet-name>
		<servlet-class>AccountsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AccountsServlet</servlet-name>
		<url-pattern>/Client/AccountsServlet</url-pattern>
	</servlet-mapping>
	

	<servlet>
		<servlet-name>ClientContactServlet</servlet-name>
		<servlet-class>ClientContactServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ClientContactServlet</servlet-name>
		<url-pattern>/Client/ClientContactServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ClientFrontpageServlet</servlet-name>
		<servlet-class>ClientFrontpageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ClientFrontpageServlet</servlet-name>
		<url-pattern>/Client/ClientFrontpageServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ClientPaymentsServlet</servlet-name>
		<servlet-class>ClientPaymentsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ClientPaymentsServlet</servlet-name>
		<url-pattern>/Client/ClientPaymentsServlet</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>JspFilter</filter-name>
		<filter-class>classes.JspFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>JspFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>

</web-app>